footer.footer
    .footer__logo
        img(src='img/logo-green.png' alt='Natours Logo')
    ul.footer__nav
        //- li:a means its nested in li tag
        li: a(href='#') About us
        li: a(href='#') Downlaod Apps
        li: a(href='#') Become guides
        li: a(href='#') Careers
        li: a(href='#') contact
    p.footer__copyright &copy; by Nimit Chavda. Developed under the guidance of Jonas Schmedtmann!